:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Базові налаштування сторінки */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}

/* Зображення */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Посилання */
a {
  text-decoration: none;
  color: inherit;
}

/* Списки */
ul,
ol {
  list-style: none;
}

/* Кнопки */
button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

/* Поля вводу */
input,
textarea,
select {
  font: inherit;
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-top {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.logo-top-blue {
  color: var(--iris);
}
.nav {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.contact {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
